:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  box-sizing: border-box;
}

body {
  /* background-color: #262626; */
  background-color: #22232a;
  margin: auto;
}


/* Extra small devices (iPhone SE, Pixel 7, Surface Duo, Samsung Galaxy A51/71, Galaxy Z Fold, phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .page {
    /* background: #bada55; */
    max-width: 320px;
    margin: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "project-title"
    "item-detail"
    "project-navigation"
    "tag-collection"
    "nav-block"
    "social-block";
  }

  .vimeo {
    min-height: 300px;
  }

  .nav-item {
    font-size: .9em;
  }
}


/* Small devices (iPhone SE in landscape, portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .page {
    /* background: darkorange; */
    max-width: 620px;
    margin: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "project-title project-title"
    "item-detail item-detail"
    "project-navigation project-navigation"
    "tag-collection tag-collection"
    "nav-block nav-block"
    "social-block social-block";
    column-gap: 20px;
  }

  .vimeo {
    min-height: 300px;
  }
}


/* Medium devices (iPad Air, iPad Mini, Surface Pro 7, Asus Zenbook Fold, landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .page {
    /* background: darkolivegreen; */
    max-width: 672px;
    margin: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "project-title project-title"
    "item-detail item-detail"
    "project-navigation project-navigation"
    "tag-collection tag-collection"
    "nav-block nav-block"
    "social-block social-block";
    column-gap: 32px;
  }

  .vimeo {
    min-height: 320px;
  }

  .nav-item {
    font-size: .9em;
  }
}


/* Large devices (iPad Pro, laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .page {
    max-width: 960px;
    margin: auto;
    /* background: darkmagenta; */
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "project-title project-title project-title"
    "item-detail item-detail item-detail"
    "project-navigation project-navigation project-navigation"
    "tag-collection tag-collection tag-collection"
    "nav-block social-block social-block";
    column-gap: 29px;
  }

  .vimeo {
    min-height: 300px;
  }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .page {
    width: 1024px;
    margin: 0 auto;
    /* background: darkslateblue; */
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "project-title project-title project-title"
    "item-detail item-detail item-detail"
    "project-navigation project-navigation project-navigation"
    "tag-collection tag-collection tag-collection"
    "nav-block social-block social-block";
    row-gap: auto;
    column-gap: 30px;
  }

  .vimeo {
    min-height: 300px;
  }


}

/* All devices */

.intro {
  grid-area: intro;
}

/* unvisited link */
a:link {
  color: fuchsia;
  text-decoration-line: none;
}

/* visited link */
a:visited {
  color: fuchsia;
  text-decoration-line: none;
}

/* mouse over link */
a:hover {
  text-decoration-line: underline;
}

/* selected link */
a:active {
  color: #f2f2f2;
}

h1 {
  color: #f2f2f2;
}

h2 {
  color: #f2f2f2;
  margin-bottom: 10px;
}

h3 {
  color: #f2f2f2;
  margin-block-start: 16px;
  margin-block-end: 0;
}

p {
  color: #f2f2f2;
  line-height: 1.3;
}

ul {
  color: #f2f2f2;
  line-height: 1.3;
}

.minimal {
  padding: 0;
  list-style-type: none;
}

.header {
  grid-area: header;
  margin-top: 30px;
  font-size: .5em;
}

.navigation a:link {
  text-decoration-line: none;

}

.navigation li {
  list-style: none;
}

h1 a:link {
  text-decoration-line: none;
}

.teaser {
  color: #848694;
  margin: 4px 0px;
}

.tagline {
  color: #848694;
}

/* Project Styling */

.project-title {
  grid-area: project-title;
  color: white;
  height: auto;
}

.project-title h2{
  color: #bfff7f;
}

.tag-collection {
  /* create the fuchsia hover effect and black padding */
  grid-area: tag-collection;
  margin: 8px 0 16px 0;
  height: auto;
}

.tag-collection h3 {
 margin-bottom: 0px;
}

.tag-collection p {
margin: 16px 0 4px 0;
}


.tag a {
  /* create the fuchsia hover effect and black padding */
  margin: 0 0 10px 0;
  font-size: 0.9em;
  background-color: black;
  line-height: 2em;
  padding: 4px 6px 4px 6px;
  text-decoration: none;
  transition: 0.3s;
}

.tag a:hover {
  background-color: fuchsia;
  color: white;
}

.project-navigation {
  grid-area: project-navigation;
  margin: 0px 24px;
}

.project-navigation-button {
  margin: 0px 16px;
}

.item-detail {
  grid-area: item-detail;
  width: auto;
}

.item-detail-img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.caption {
  height: auto;
}

.caption p {
  margin: 4px 0px 24px 0px;
}

/* Nav & Social Blocks */

.nav-block {
  grid-area: nav-block;
}

.nav-block ul {
  padding: 0;
  list-style-type: none;
}

.social-block {
  grid-area: social-block;
}

.social-block ul {
  padding: 0;
  list-style-type: none;
}

.social a:link {
  text-decoration-line: none;
}

.nav-item {
  line-height: 1.4;
}

.vimeo {
  padding:75% 0 0 0;
  position:relative;
  background-color: black;
}