:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #262626;
  margin: auto;
}


/* Extra small devices (iPhone SE, Pixel 7, Surface Duo, Samsung Galaxy A51/71, Galaxy Z Fold, phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .page {
    /* background: #bada55; */
    max-width: 320px;
    margin: auto;

  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "privacy-content"
    "nav-block"
    "social-block";
    /* row-gap: auto; */
    /* column-gap: 20px; */
  }

  .nav-item {
    font-size: .9em;
  }
}

/* Small devices (iPhone SE in landscape, portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .page {
    /* background: darkorange; */
    max-width: 620px;
    margin: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "intro intro"
    "privacy-content privacy-content"
    "nav-block social-block";
    /* row-gap: auto; */
    column-gap: 20px;
  }
}


/* Medium devices (iPad Air, iPad Mini, Surface Pro 7, Asus Zenbook Fold, landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .page {
    /* background: darkolivegreen; */
    max-width: 672px;
    margin: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "intro intro"
    "privacy-content privacy-content"
    "nav-block social-block";
    /* row-gap: auto; */
    column-gap: 32px;
  }

  .nav-item {
    font-size: .9em;
  }
}


/* Large devices (iPad Pro, laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .page {
    max-width: 960px;
    margin: auto;
    /* background: darkmagenta; */
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "privacy-content privacy-content privacy-content"
    "nav-block social-block social-block";
    /* row-gap: auto; */
    column-gap: 29px;
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .page {
    width: 1024px;
    margin: 0 auto;
    /* background: darkslateblue; */
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "intro intro intro"
      "privacy-content privacy-content privacy-content"
      "nav-block social-block social-block";
    row-gap: auto;
    column-gap: 30px;
  }
}

/* All devices */

.intro {
  grid-area: intro;
}

/* unvisited link */
a:link {
  color: fuchsia;
  text-decoration-line: none;
}

/* visited link */
a:visited {
  color: fuchsia;
  text-decoration-line: none;
}

/* mouse over link */
a:hover {
  text-decoration-line: underline;
}

/* selected link */
a:active {
  color: #f2f2f2;
}

h1 {
  color: #f2f2f2;

}

h2 {
  color: #f2f2f2;
  margin-bottom: 10px;
  font-size: 1.8em;
}

h3 {
  color: #f2f2f2;
  margin-bottom: 4px;
  font-size: 1.4em;
}

h4 {
  color: #f2f2f2;
  margin-bottom: 2px;
}

p {
  color: rgba(255,255,255,.8);
  line-height: 1.4;
  font-size: 1.1em;
  margin-top: 0px;
}

ul {
  color: #f2f2f2;
  line-height: 1.4;
}

.header {
  grid-area: header;
  margin-top: 30px;
}

.navigation a:link {
  text-decoration-line: none;
}

.navigation li {
  list-style: none;
}

h1 a:link {
  text-decoration-line: none;
}

.teaser {
  margin: 4px 0px;
}

.tagline {
  color: #848694;
}

.tag-collection {
  /* create the purple hover effect and black padding */
  margin: 0 0 10px 0;
}

.tag a {
  /* create the purple hover effect and black padding */
  margin: 0 0 10px 0;
  background-color: #161616;
  line-height: 2.2em;
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  transition: 0.3s;
}

.tag a:hover {
  background-color: fuchsia;
  color: white;
}


.privacy-title{
  grid-area: privacy-title;
}

.privacy-content{
  grid-area: privacy-content;
}

.nav-block {
  grid-area: nav-block;
}

.nav-block ul {
  margin-top: 4px;
  padding: 0;
  list-style-type: none;
}

.social-block {
  grid-area: social-block;
}

.social-block ul {
  padding: 0;
  margin-top: 4px;

  list-style-type: none;
}

.social a:link {
  text-decoration-line: none;
}

.blog-posts {
  display: flex;
  width: 90%;
  border: 1px solid white;
}

.nav-item {
  line-height: 1.5;
}