:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  box-sizing: border-box;
}

body {
  /* background-color: #262626; */
  background-color: #22232a;
  margin: auto;
}


/* Extra small devices (iPhone SE, Pixel 7, Surface Duo, Samsung Galaxy A51/71, Galaxy Z Fold, phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .page {
    /* background: #bada55; */
    max-width: 320px;
    margin: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "project-title"
      "project-description"
      "item1"
      "item2"
      "item3"
      "item4"
      "item5"
      "item6"
      "item7"
      "item8"
      "item9"
      "item10"
      "item11"
      "item12"
      "item13"
      "item14"
      "item15"
      "item16"
      "text-content"
      "tag-collection"
      "nav-block"
      "kdzu-block shadow-block";
  }

  .item-thumbnail {
    height: 300px;
  }

  .item {
    /* background-color: darkcyan; */
    width: 300px;
    height: auto;
    margin-bottom: 8px;
  }

  .vimeo {
    min-height: 300px;
  }

  .nav-item {
    font-size: .9em;
  }
}


/* Small devices (iPhone SE in landscape, portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .page {
    /* background: darkorange; */
    max-width: 620px;
    margin: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "project-title project-title"
      "project-description project-description"
      "item1 item2"
      "item3 item4"
      "item5 item6"
      "item7 item8"
      "item9 item10"
      "item11 item12"
      "item13 item14"
      "item15 item16"
      "text-content text-content"
      "tag-collection tag-collection"
      "nav-block nav-block"
      "kdzu-block shadow-block";
    column-gap: 20px;
  }

  .item-thumbnail {
    height: 300px;
  }

  .item {
    /* background-color: darkcyan; */
    width: 300px;
    height: 370px;
  }

  .vimeo {
    min-height: 300px;
  }
}


/* Medium devices (iPad Air, iPad Mini, Surface Pro 7, Asus Zenbook Fold, landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .page {
    /* background: darkolivegreen; */
    max-width: 672px;
    margin: auto;
  }

  .grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    grid-template-areas:
      "header header"
      "project-title project-title"
      "project-description project-description"
      "item1 item2"
      "item3 item4"
      "item5 item6"
      "item7 item8"
      "item9 item10"
      "item11 item12"
      "item13 item14"
      "item15 item16"
      "text-content text-content"
      "tag-collection tag-collection"
      "nav-block nav-block"
      "kdzu-block shadow-block";
    column-gap: 32px;
  }

  .item-thumbnail {
    height: 320px;
  }

  .item {
    /* background-color: darkcyan; */
    width: 320px;
    height: auto;
    margin-bottom: 8px;
  }

  .vimeo {
    min-height: 320px;
  }

  .nav-item {
    font-size: .9em;
  }
}


/* Large devices (iPad Pro, laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .page {
    max-width: 960px;
    margin: auto;
    /* background: darkmagenta; */
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "project-title project-title project-title"
      "project-description project-description project-description"
      "item1 item2 item3"
      "item4 item5 item6"
      "item7 item8 item9"
      "item10 item11 item12"
      "item13 item14 item15"
      "item16 . ."
      "text-content text-content text-content"
      "tag-collection tag-collection tag-collection"
      "nav-block kdzu-block shadow-block";
    column-gap: 29px;
  }

  .item-thumbnail {
    height: 300px;
  }

  .item {
    /* background-color: darkcyan; */
    width: 300px;
    height: auto;
    margin-bottom: 8px;
  }

  .vimeo {
    min-height: 300px;
  }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .page {
    width: 1024px;
    margin: 0 auto;
    /* background: darkslateblue; */
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "project-title project-title project-title"
      "project-description project-description project-description"
      "item1 item2 item3"
      "item4 item5 item6"
      "item7 item8 item9"
      "item10 item11 item12"
      "item13 item14 item15"
      "item16 . ."
      "text-content text-content text-content"
      "tag-collection tag-collection tag-collection"
      "nav-block kdzu-block shadow-block";
    row-gap: auto;
    column-gap: 30px;
  }

  .item-thumbnail {
    height: 300px;
  }

  .item {
    /* background-color: darkcyan; */
    width: 300px;
    height: auto;
    margin-bottom: 8px;
  }

  .vimeo {
    min-height: 300px;
  }


}

/* All devices */

.intro {
  grid-area: intro;
}

/* unvisited link */
a:link {
  color: fuchsia;
  text-decoration-line: none;
}

/* visited link */
a:visited {
  color: fuchsia;
  text-decoration-line: none;
}

/* mouse over link */
a:hover {
  text-decoration-line: underline;
}

/* selected link */
a:active {
  color: #f2f2f2;
}

h1 {
  color: #f2f2f2;
}

h2 {
  color: #f2f2f2;
  margin-bottom: 10px;
}

h3 {
  color: #f2f2f2;
  margin-block-start: 16px;
  margin-block-end: 0;
  font-size: 1.4em;
}

h4 {
  color: #f2f2f2;
  margin-block-start: 16px;
  margin-block-end: 0;
  font-size: 1.2em;
}

p {
  color: rgba(255, 255, 255, .8);
  line-height: 1.4;
  font-size: 1.1em;

}

ul {
  color: #f2f2f2;
  line-height: 1.4;
}

.minimal-list {
  padding: 0;
  list-style-type: none;
}

.minimal-dotted-list {
  padding: 0 0 0 16px;
}

.header {
  grid-area: header;
  margin-top: 30px;
  font-size: .5em;
}

.navigation a:link {
  text-decoration-line: none;

}

.navigation li {
  list-style: none;
}

h1 a:link {
  text-decoration-line: none;
}

.teaser {
  margin: 4px 0px;
}

.tagline {
  color: #848694;
}

/* Project Styling */

.project-title {
  grid-area: project-title;
  color: white;
  height: auto;
}

.project-title h2 {
  color: #bfff7f;
  margin-bottom: 0px
}

.tag-collection {
  /* create the fuchsia hover effect and black padding */
  grid-area: tag-collection;
  margin: 8px 0 16px 0;
  height: auto;
}

.tag-collection h3 {
  margin-bottom: 0px;
}

.tag-collection p {
  margin: 16px 0 4px 0;
}


.tag a {
  /* create the fuchsia hover effect and black padding */
  margin: 0 0 10px 0;
  background-color: #161616;
  line-height: 2.2em;
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  transition: 0.3s;
  font-family: 'Object Sans', 'Inter', sans-serif;

}

.tag a:hover {
  background-color: fuchsia;
  color: white;
}

.project-description {
  grid-area: project-description;
}

.item {
  height: auto;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}

.item6 {
  grid-area: item6;
}

.item7 {
  grid-area: item7;
}

.item8 {
  grid-area: item8;
}

.item9 {
  grid-area: item9;
}

.item10 {
  grid-area: item10;
}

.item11 {
  grid-area: item11;
}

.item12 {
  grid-area: item12;
}

.item13 {
  grid-area: item13;
}

.item14 {
  grid-area: item14;
}

.item15 {
  grid-area: item15;
}

.item16 {
  grid-area: item16;
}


.caption {
  height: auto;
}

.caption p {
  margin: 4px 0px 24px 0px;
  color: #aeb1c4;
  line-height: 1.4;
}

/* Nav & Social Blocks */

.nav-block {
  grid-area: nav-block;
}

.nav-block ul {
  margin-top: 4px;
  padding: 0;
  list-style-type: none;
}



.kdzu-block {
  grid-area: kdzu-block;
}

.kdzu-block ul {
  padding: 0;
  margin-top: 4px;
  list-style-type: none;
}

.shadow-block {
  grid-area: shadow-block;
}

.shadow-block ul {
  padding: 0;
  margin-top: 4px;
  list-style-type: none;
}

.social a:link {
  text-decoration-line: none;
}

.nav-item {
  line-height: 1.5;
}

.text-content {
  grid-area: text-content;
  width: 100%;
  max-width: 100%;
  margin: 2rem 0;
  padding: 0;
}

.vimeo {
  padding: 75% 0 0 0;
  position: relative;
  background-color: black;
}