:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: #262626;
}

/* unvisited link */
a:link {
  color: #f2f2f2;
}

/* visited link */
a:visited {
  color: #e0dfdf;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: #f2f2f2;
}

h1 {
  color: #f2f2f2;
}

h2 {
  color: #f2f2f2;
}

h3 {
  color: #f2f2f2;
}

p {
  color: #f2f2f2;
  line-height: 1.3;
}

ul {
  color: #f2f2f2;
  line-height: 1.3;
}

.tagline {
  color: gray;
}

.tag-collection {
  /* create the purple hover effect and black padding */
  margin: 0 0 10px 0;
}

.tag a{
  /* create the purple hover effect and black padding */
  margin: 0 0 10px 0;
  background-color: black;
  line-height: 1.8em;
  padding: 4px 6px 4px 6px;
  text-decoration: none;
  transition: 0.3s;

}

.tag a:hover {
  background-color: #8c36d6;
}